@model IEnumerable<CVApp.DTO.DTO.SocialMediaDTO.SocialMediaListDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-4">Sosyal Medyalarım</h1>

<p>
    <a asp-action="Create">Yeni Sosyal Medya Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                Link
            </th>
            <th>
                Url
            </th>
            <th>
                Dil
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Icon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>

                <td>
                    <a asp-action="Update" asp-controller="SocialMedia" asp-route-id="@item.Id" class="btn btn-info">Güncelle</a>
                    <a asp-action="Delete" asp-controller="SocialMedia" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz?')">Sil</a>

                </td>
            </tr>
        }
    </tbody>
</table>
