@model AppUserLoginModel
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Signin Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />



    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">
    <form class="form-signin" asp-action="Login" method="post">
        @*<img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">*@
        <h1 class="h3 mb-3 font-weight-normal">Lütfen giriş yapın</h1>
        
        <label for="inputEmail" class="sr-only">Kullanıcı Adı <span class="text-danger" asp-validation-for="@Model.UserName"></span></label>
        <input asp-for="@Model.UserName" class="form-control" placeholder="Kullanıcı Adı" required autofocus>
        
        <label for="inputPassword" class="sr-only">Şifre <span class="text-danger" asp-validation-for="@Model.Pass"></span></label>
        <input type="password" asp-for="@Model.Pass" class="form-control" placeholder="Şifre" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" asp-for="@Model.RememberMe"> Beni Hatırla
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Giriş</button>
        <div class="text-danger" asp-validation-summary="ModelOnly">

        </div>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
    </form>
</body>
</html>
