@model List<CVApp.DTO.DTO.ExperienceDTO.ExperienceListDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-4">Tecrübeler</h1>

<p>
    <a asp-action="Create">Yeni Tecrübe Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Çalıştığı Yer
            </th>
            <th>
                Ünvan
            </th>
            <th>
                Açıklama
            </th>
            <th>
                Başlangıç Tarihi
            </th>
            <th>
                Bitiş Tarihi
            </th>
            <th>
                Dil
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                <a asp-action="Update" asp-controller="Experience" asp-route-id="@item.Id" class="btn btn-info">Güncelle</a>
                <a asp-action="Delete" asp-controller="Experience" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz?')">Sil</a>

            </td>
        </tr>
        }
    </tbody>
</table>
